################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eTailor/FileContentIndex/beffd0c3-5ad8-4ccc-981c-cd230a8ff022.vsidx
